@import url("whitespace-reset.css");

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  background: #ffffff;
}

#menu_toggle {
  display: none;
}

#hamburger {
  display: none;
  position: absolute;
  z-index: 2;
  left: 28%;
  top: 24px;
}

#hamburger img {
  width: 26px;
}

h1 {
  font-weight: normal;
}

main, nav {
  display: inline-block;
  box-sizing: border-box;
  color: #060606;
  vertical-align: top;
}

nav {
  width: 28%;
  padding: 70px 0 200px 0;
  background: #464f77;
  color: #b2b5c3;
}

nav th {
  text-align: left;
}

nav thead th {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  padding-top: 0;
}

nav thead td {
  padding-top: 0;
  vertical-align: top;
}


nav thead th.first_column {
  background: transparent url("images/all-todos.png") 100% 0 no-repeat;
  vertical-align: middle;
}

.highlight {
  background: #383f5f;
  color: #ffffff;
}

nav th {
  padding: 12px;
  font-weight: normal;
}

nav th.first_column {
  width: 40%;
}

nav td {
  text-align: right;
  padding-right: 30px;
}

.sum {
  font-size: 14px;
  background: #6b7292;
  padding: 1px 5px;
  border-radius: 100%;
  vertical-align: middle;
}

.sum.active {
  background: #148fd5;
  color: #ffffff;
}

#completed {
  margin: 50px 0 0 0px;
}

#completed thead th.first_column {
  background: transparent url("images/done.png") 100% 0 no-repeat;
}

#completed tbody th {
  text-decoration: line-through;
}

/* Main */


main {
  width: 72%;
  padding: 70px 8.5% 0 20px;
}

main h1 {
  font-size: 21px;
  padding: 0 20px 0 12px;
  margin-bottom: 20px;
}

main h1 .sum.active {
  vertical-align: 2px;
  margin-left: 20px;
}

table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
}

main th {
  text-align: left;
  padding: 15px 0 15px 12px;
  font-weight: normal;
}

main th a {
  text-decoration: none;
  color: #148fd5;

}

#add {
  font-size: 24px;
  font-family: "Times New Roman";
  font-weight: 300;
  vertical-align: middle;
  margin-right: 10px;
}

main td {
  border-top: 1px solid #e7e7e7;
  padding: 15px 0 15px 12px;
  text-align: left;
}

input[type="checkbox"].check {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width  : 14px;
  height : 14px;
  border: 1px solid #9c9c9c;
  vertical-align: top;
}

input[type="checkbox"].check + label {
  margin-left: 10px;
}

input[type="checkbox"].check:checked {
  border: none;
  background: transparent url("images/done_v2.png") 0 0 no-repeat;
  background-size: 14px;
}

input[type="checkbox"].check:checked + label {
  color: #b3b3b3;
  text-decoration: line-through;
}


label:hover {
  cursor: pointer;
  color: #148fd5;
}

.delete {
  text-align: right;
}

/* Modal */

main {
  position: relative;
}

div.form {
  display: none;
}

#modal {
  display: none;
}

#modal:checked + div.form {
  display: block;
}

#modal:checked + div.form form {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 570px;
  margin-left: -285px;
  text-align: left;
  height: 400px;
  z-index: 4;
  background: #ffffff;
}

#modal:checked + div.form:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  content: "";
  background: rgba(0, 0, 0, .2);
}

dt {
  display: inline-block;
  text-align: left;
  width: 100px;
}

dd {
  display: inline-block;
    text-align: left;

}

/* Smaller devices */

@media (max-width: 768px) {
  #hamburger {
    display: block;
    cursor: pointer;
    left: 0;
    margin-left: 30px;
  }

  nav {
    display: none;
  }

  main {
    width: 100%;
  }

  #menu_toggle:checked ~ nav {
    display: inline-block;
    width: 40%;
  }

  #menu_toggle:checked ~ main {
    width: 60%;
  }

  #menu_toggle:checked + #hamburger {
    left: 40%;
  }
}
