@import url("whitespace-reset.css");

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  background: #ffffff;
}

#menu_toggle {
  display: none;
}

#hamburger {
  display: none;
  position: absolute;
  z-index: 2;
  left: 28%;
  top: 24px;
}

#hamburger img {
  width: 26px;
}

h1 {
  font-weight: normal;
}

main, nav {
  display: inline-block;
  box-sizing: border-box;
  color: #060606;
  vertical-align: top;
}

nav {
  width: 28%;
  padding: 64px 0 82px 0;
  background: #464f77;
  color: #b2b5c3;
}

table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
}

nav td,
nav th {
  text-align: left;
  padding-left: 10px;
  height: 40px;
  box-sizing: border-box;
  font-weight: normal;
}

nav th {
  font-size: 18px;
  color: #ffffff;
}

nav th.figure {
  background: transparent url("images/all-todos.png") 100% 50% no-repeat;
  width: 38%;
}

.highlight {
  background: #383f5f;
  color: #ffffff;
}

nav td:last-of-type,
nav th:last-of-type {
  text-align: right;
  padding-right: 30px;
}

.sum {
  font-size: 14px;
  background: #6b7292;
  color: #b2b5c3;
  padding: 1px 4px;
  border-radius: 100%;
  vertical-align: middle;
}

.sum.active {
  background: #148fd5;
  color: #ffffff;
}

#completed {
  margin: 49px 0 0 0px;
}

#completed th.figure {
  background: transparent url("images/done.png") 100% 50% no-repeat;
}

#completed th,
#completed td {
  text-align: left;
}

#completed td {
  text-decoration: line-through;
}

/* Main */

main {
  width: 72%;
  padding: 74px 8.5% 0 20px;
}

h1 {
  font-size: 21px;
  padding: 0 20px 0 12px;
  margin-bottom: 20px;
}

h1 .sum.active {
  vertical-align: 2px;
  margin-left: 13px;
}

main th {
  text-align: left;
  padding-left: 10px;
  height: 50px;
  box-sizing: border-box;
  font-weight: normal;
}

main th a {
  text-decoration: none;
  color: #148fd5;

}

#add {
  font-size: 24px;
  font-family: "Times New Roman";
  font-weight: 300;
  vertical-align: middle;
  margin-right: 10px;
}

main td {
  border-top: 1px solid #e7e7e7;
  padding-left: 10px;
  height: 50px;
  box-sizing: border-box;
  text-align: left;
}

.item:hover {
  cursor: pointer;
  color: #148fd5;
}

input[type="checkbox"].check {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width  : 14px;
  height : 14px;
  border: 1px solid #9c9c9c;
  vertical-align: middle;
}

input[type="checkbox"].check + .item {
  margin-left: 10px;
}

input[type="checkbox"].check:checked {
  border: none;
  background: transparent url("images/done_v2.png") 0 0 no-repeat;
  background-size: 14px;
}

input[type="checkbox"].check:checked + .item {
  color: #b3b3b3;
  text-decoration: line-through;
}



.delete {
  text-align: right;
}

/* Modal */

table {
  position: relative;
}

div.form {
  display: none;
}

#modal {
  display: none;
}

#modal:checked + div.form {
  display: block;
}

#modal:checked + div.form form {
  position: absolute;
  top: -10px;
  left: 50%;
  box-sizing: border-box;
  width: 576px;
  padding: 38px 40px 40px 30px;
  margin-left: -288px;
  text-align: left;
  height: 400px;
  z-index: 4;
  background: #ffffff;
}

#modal:checked + div.form:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  content: "";
  background: rgba(0, 0, 0, .2);
}

.form dl {
  padding-bottom: 24px;
}

.form dt, .form dd {
  display: inline-block;
  box-sizing: border-box;
}

.form dt {
  width: 20%;
  text-align: left;
  vertical-align: top;
  padding-top: 10px;
}

.form dd {
  width: 80%;
  text-align: center;
}

#buttons {
  width: 80%;
  margin-left: 20%;
}

input[type="text"],
textarea {
  width: 100%;
  height: 36px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #b3b3b3;
  font: normal 16px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #060606;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff url("images/arrows.png") right 10px top 50% no-repeat;
  display: inline-block;
  height: 36px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 30%;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  font: normal 16px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #060606;
}

#month,
#year {
  color: #757575;
}

textarea {
  height: 144px;
  padding: 10px;
  resize: none;
}

.button {
  display: inline-block;
  padding: 0 10px;
  width: 50%;
  box-sizing: border-box;
}

.button:first-of-type {
  padding-left: 0;
}

input[type="submit"] {
  background: #148fd5;
  color: #ffffff;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* Smaller devices */

@media (max-width: 768px) {
  main table {
    position: static;
  }

  #modal:checked + div.form form {
    top: 100px;
  }

  #hamburger {
    display: block;
    cursor: pointer;
    left: 0;
    margin-left: 30px;
  }

  nav {
    display: none;
  }

  nav th:last-of-type,
  nav td:last-of-type {
    padding-right: 10px;
  }

  main {
    width: 100%;
  }

  #menu_toggle:checked ~ nav {
    display: inline-block;
    width: 40%;
  }

  #menu_toggle:checked ~ main {
    width: 60%;
  }

  #menu_toggle:checked + #hamburger {
    left: 40%;
  }
}

@media (max-width: 620px) {
  #menu_toggle:checked ~ nav {
    display: inline-block;
    width: 50%;
  }

  #menu_toggle:checked ~ main {
    width: 50%;
    padding-left: 10px;
  }

  #menu_toggle:checked + #hamburger {
    left: 50%;
    margin-left: 20px;
  }

  #modal:checked + div.form form {
    width: 100%;
    height: auto;
    left: 0;
    margin: 0;
  }

  .form dt, .form dd {
    display: block;
    width: 100%;
  }

  .form dt {
    padding: 0 0 10px 10px;
  }

  .button {
    padding: 5px;
  }

  #buttons {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 402px) {
  #menu_toggle:checked ~ main th a {
    font-size: 12px;
  }

  select {
    font-size: 14px;
    width: 29%;
  }

  input[type="submit"] {
    font-size: 14px;
  }
}
